<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DNSLog Web</title>
    <link href="../static/index_css.css" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <h1>DNSLog</h1>
        <form id="dnslog-form">
            <label for="domain_name">Please enter the domain name:</label>
            <input type="text" id="domain_name" name="domain_name">

            <div class="button-row">
                <button type="button" id="generate-domain-btn" class="btn">Generate</button>
                <button type="submit" class="btn">Record DNS query</button>
                <button type="button" id="pause" class="btn">pause</button>
            </div>
        </form>

        <div style="position: absolute; top: 20px; right: 30px; z-index: 1000;">
            <label for="dns-select" style="color: white; font-weight: bold;">DNS SERVER:</label>
            <select id="dns-select" style="padding: 5px; border-radius: 5px;">
                <option value="0">Google</option>
                <option value="1">alidns</option>
                <option value="2">自建</option>
            </select>
            <br>
            <label for="pact" style="color: white; font-weight: bold;">PACT:</label>
            <select id="pact" style="padding: 5px; border-radius: 5px;">
                <option value="UDP">UDP</option>
                <option value="TCP">TCP</option>
            </select>
        </div>

        <div id="result"></div> <!-- 查询结果 -->
    </div>
    <script src="../static/dnslog.js"></script>
</body>

</html>